<a href="https://colab.research.google.com/github/vijaythapakdata/MachineLearning/blob/main/CO2Emission.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set

In [4]:
df=pd.read_csv("/content/cars.csv")
df.head()

          Car       Model  Volume  Weight  CO2
0      Toyoty        Aygo    1000     790   99
1  Mitsubishi  Space Star    1200    1160   95
2       Skoda      Citigo    1000     929   95
3        Fiat         500     900     865   90
4        Mini      Cooper    1500    1140  105

In [6]:
df.drop(["Car","Model"],axis="columns",inplace=True)

In [7]:
df.head(4)

   Volume  Weight  CO2
0    1000     790   99
1    1200    1160   95
2    1000     929   95
3     900     865   90

In [22]:
x=df[["Weight","Volume"]]
y=df["CO2"]

In [23]:
#train and split the data
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=10)

In [24]:
len(x_train)

25

In [25]:
len(x_test)

11

In [26]:
from sklearn.linear_model import LinearRegression
clf=LinearRegression()
clf.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [27]:
clf.predict(x_test)

array([106.60114289, 108.88821717,  93.85839086,  95.12284582,
       101.56331774,  93.85839086, 101.60354017,  92.47770797,
       101.7210032 , 100.80202774, 102.23231286])

In [28]:
y_test[:11]

24     99
31    117
2      95
12     99
7      92
5     105
32    104
3      90
13     94
18    104
14     97
Name: CO2, dtype: int64

In [29]:


clf.predict([[1000,790]])

array([92.37818657])

In [30]:
clf.coef_

array([0.00690959, 0.00938469])

In [31]:
clf.intercept_

78.05469047140633

In [32]:
clf.predict([[2300,1300]])

array([106.14684608])