In [1]:
#read json file in pandas
import pandas as pd
df=pd.read_json("/content/data.js")

In [2]:
#print first 5 rows of json file
df.head()

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0

In [3]:
#print last 5 rows of json file
df.tail()

     Duration  Pulse  Maxpulse  Calories
164        60    105       140     290.8
165        60    110       145     300.4
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [4]:
#dictionary as json
mydata={
    "Duration":{
        "0":60,
        "1":60,
        "2":75,
        "3":75,
        "4":75
    },
    "Pulse":{
        "0":105,
        "1":110,
        "2":115,
        "3":120,
        "4":125
    },
    "MaxPulse":{
        "0":130,
        "1":145,
        "2":156,
        "3":147,
        "4":168
    },
    "Calories":{
        "0":290,
        "1":450,
        "2":345,
        "3":234,
        "4":235
    }

}
dfd=pd.DataFrame(mydata)
dfd.head()

   Duration  Pulse  MaxPulse  Calories
0        60    105       130       290
1        60    110       145       450
2        75    115       156       345
3        75    120       147       234
4        75    125       168       235